$input-font-size: 14px;

:host {
  display: flex;
}

form {
  flex: 1;
  display: flex;

  md-input-container {
    flex: 1;
    margin-top: -15px;
    margin-bottom: -18px;
    width: auto;

    md-hint {
      font-size: 80%;
    }
  }

  [mdInput] {
    font-size: $input-font-size;
  }
}
