<ng-content select="md-table-header"></ng-content>
<md-progress-bar mode="indeterminate" [style.visibility]="isLoading ? 'visible' : 'hidden'"></md-progress-bar>
<table class="mat-data-table-head" *ngIf="fixedHeader">
  <thead>
  <tr>
    <th *ngFor="let column of columns"
        [class.mat-numeric-column]="column.numeric">
      <span mdTooltip="{{column.tooltip}}">{{column.title}}</span>
    </th>
  </tr>
  </thead>
</table>
<div #container class="mat-table-container">
  <table class="mat-data-table" [class.fixed-header]="fixedHeader">
    <thead>
    <tr>
      <th *ngFor="let column of columns"
          [class.mat-numeric-column]="column.numeric">
        <span mdTooltip="{{column.tooltip}}">{{column.title}}</span>
      </th>
    </tr>
    </thead>
    <tbody #body>
    <tr mdDataTableRow *ngFor="let row of rows"
        [row]="row" [columns]="columns" (click)="_onClick(row)">
    </tr>
    <tr *ngIf="!rows || !rows.length"><td colspan="columns.length">No data</td></tr>
    </tbody>
    <tfoot *ngIf="!fixedHeader">
    <tr>
      <td [attr.colspan]="columns.length">
        <md-paginator [total]="total" [selectedRange]="pageSize" (pageChange)="_onPageChange($event)"></md-paginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
<table class="mat-data-table-tail" *ngIf="fixedHeader">
  <tfoot>
  <tr>
    <td [attr.colspan]="columns.length">
      <md-paginator [total]="total" [selectedRange]="pageSize"  (pageChange)="_onPageChange($event)"></md-paginator>
    </td>
  </tr>
  </tfoot>
</table>
