$font-family: Roboto, "Helvetica Neue", sans-serif;

$border-color: rgba(0, 0, 0, .12);

$content-font-size: 13px;
$content-color: rgba(0, 0, 0, .87);
$content-height: 48px;

$header-font-size: 12px;
$header-font-weight: 500;
$header-color: rgba(0, 0, 0, .54);
$header-height: 56px;

$row-hover-color: #eeeeee;
$row-selected-color: #f5f5f5;

$footer-font-size: 12px;
$footer-color: rgba(0, 0, 0, .54);
$footer-height: 56px;

table {
  width: 100%;
  border-collapse: collapse;

  tr {
    position: relative;
    white-space: nowrap;
    line-height: 24px;
    letter-spacing: 0;
    font-size: 12px;

    th {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    th, td {
      box-sizing: border-box;
    }
  }

  thead {
    tr {
      border: none;
      border-bottom: 1px solid $border-color;
      font-size: $header-font-size;
      font-weight: $header-font-weight;
      color: $header-color;
      height: $header-height;
      box-sizing: border-box;

      th {
        border: none;

        cursor: default;

        text-align: left;
        padding: 0 12px;

        &:first-of-type {
          padding-left: 24px;
        }

        &:last-of-type {
          padding-right: 24px;
        }

        &.mat-numeric-column {
          text-align: right;
        }
      }
    }
  }

  tfoot {
    tr {
      border-top: 1px solid $border-color;
      font-size: $footer-font-size;
      color: $footer-color;
      height: $footer-height;

      td {
        md-paginator {
          float: right;
        }
      }
    }
  }
}

.mat-table-container {
  max-width: 100%;
  display: block;
  overflow-x: auto;
  font-family: $font-family;

  .mat-data-table {
    overflow: hidden;

    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
    white-space: nowrap;

    &.fixed-header {
      border-top-width: 0;
      border-bottom-width: 0;

      thead {
        display: none;
      }
    }

    text-align: center;

    tbody {
      tr {
        border-top: 1px solid $border-color;
        font-size: $content-font-size;
        color: $content-color;
        height: $content-height;

        &:first-of-type {
          border: none;
        }

        &:hover {
          background-color: $row-hover-color;
        }

        .selected {
          background-color: $row-selected-color;
        }
      }
    }
  }
}

:host.row-selectable {
  tbody tr {
    cursor: pointer;
  }
}
