<form [formGroup]="filterForm">
  <md-input-container floatPlaceholder="never" [@filterState2]="filterState">
    <input mdInput i18n-placeholder placeholder="Filter" formControlName="input">
  </md-input-container>
</form>
<button md-icon-button i18n-mdTooltip mdTooltip="Filter"
        [@filterState]="filterState"
        (@filterState.done)="onFilterStateDone($event)"
        (click)="toggleFilterState()">
  <md-icon [hidden]="isOpening">search</md-icon>
  <md-icon [hidden]="!isOpening">close</md-icon>
</button>
