<md-card class="data-table-card" fxFlex fxLayout="column" [style.height.px]="570">
<md-card class="data-table-card" fxFlex fxLayout="column" [style.height.px]="570">
  <md-data-table [data]="fetchData" [total]="total" pageSize="11" fixedHeader="true" fxFlex>
    <md-table-header title="Inline Editing"></md-table-header>
    <md-data-column title="Dessert (100g serving)"
                    field="name"
                    tooltip="Dessert (100g serving)"
                    editable="inline"></md-data-column>
    <md-data-column title="Calories"
                    field="calories"
                    numeric="true"
                    tooltip="Calories"
                    editable="inline"></md-data-column>
    <md-data-column title="Fat (g)"
                    field="fat"
                    numeric="true"
                    tooltip="Fat (g)"></md-data-column>
    <md-data-column title="Carbs (g)"
                    field="carbs"
                    numeric="true"
                    tooltip="Carbs (g)"></md-data-column>
    <md-data-column title="Protein (g)"
                    field="protein"
                    numeric="true"
                    tooltip="Protein (g)"></md-data-column>
    <md-data-column title="Sodium (mg)"
                    field="sodium"
                    numeric="true"
                    tooltip="Sodium (mg)"></md-data-column>
    <md-data-column title="Calcium (%)"
                    field="calcium"
                    numeric="true"
                    tooltip="Calcium (%)"></md-data-column>
    <md-data-column title="Iron (%)"
                    field="iron"
                    numeric="true"
                    tooltip="Iron (%)"></md-data-column>
  </md-data-table>
</md-card>
