<h1>
  {{title}}
</h1>

<md-card class="data-table-card" fxLayout="column" [style.height.px]="570">
  <md-card-title>Ajax Paging</md-card-title>
  <md-data-table [data]="data" [total]="total" pageSize="11" fixedHeader="true" (rowClick)="onRowClick($event)" fxFlex>
    <md-data-column title="Dessert (100g serving)"
                          field="name"
                          tooltip="Dessert (100g serving)"></md-data-column>
    <md-data-column title="Calories"
                          field="calories"
                          numeric="true"
                          tooltip="Calories"></md-data-column>
    <md-data-column title="Fat (g)"
                          field="fat"
                          numeric="true"
                          tooltip="Fat (g)"></md-data-column>
    <md-data-column title="Carbs (g)"
                          field="carbs"
                          numeric="true"
                          tooltip="Carbs (g)"></md-data-column>
    <md-data-column title="Protein (g)"
                          field="protein"
                          numeric="true"
                          tooltip="Protein (g)"></md-data-column>
    <md-data-column title="Sodium (mg)"
                          field="sodium"
                          numeric="true"
                          tooltip="Sodium (mg)"></md-data-column>
    <md-data-column title="Calcium (%)"
                          field="calcium"
                          numeric="true"
                          tooltip="Calcium (%)"></md-data-column>
    <md-data-column title="Iron (%)"
                          field="iron"
                          numeric="true"
                          tooltip="Iron (%)"></md-data-column>
  </md-data-table>
</md-card>
<hr>

<app-inline-editing></app-inline-editing>
<hr>

<app-filterable></app-filterable>
<hr>

<app-data-source></app-data-source>
<hr>

<app-data-source-with-filter></app-data-source-with-filter>
