<md-card class="data-table-card" fxFlex fxLayout="column" [style.height.px]="570">
  <md-data-table #dataTable
                 [data]="dataSource"
                 [total]="dataSource.total"
                 [pageSize]="8"
                 [fixedHeader]="true"
                 fxFlex>
    <md-table-header heading="Paging Datasource"></md-table-header>
    <md-data-column title="Dessert (100g serving)"
                    field="name"></md-data-column>
    <md-data-column title="Calories"
                    field="calories"
                    numeric="true"></md-data-column>
    <md-data-column title="Fat (g)"
                    field="fat"
                    numeric="true"></md-data-column>
    <md-data-column title="Carbs (g)"
                    field="carbs"
                    numeric="true"></md-data-column>
    <md-data-column title="Protein (g)"
                    field="protein"
                    numeric="true"></md-data-column>
    <md-data-column title="Sodium (mg)"
                    field="sodium"
                    numeric="true"></md-data-column>
    <md-data-column title="Calcium (%)"
                    field="calcium"
                    numeric="true"></md-data-column>
    <md-data-column title="Iron (%)"
                    field="iron"
                    numeric="true"></md-data-column>
  </md-data-table>
</md-card>
